# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# IDE (PyCharm, etc)
.idea/
*.iml

# Environment variables
.env
.env.local

# Logs
*.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db